<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../../../public/css/quiz_style.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>

    #timer{
        
    }
</style>
<div class="row">
<div class="col-sm-3">

    
<p id="stopTime" hidden="true">{{data.StopTime}}</p>
<div class="panel panel-default text-center" style="margin:20 120 20 20!important; width:120%">
  <div class="panel-heading"><h1 id="timer"></h1></div>
  <div class="panel-body">
   <nav aria-label="Page navigation">
  <ul class="pagination">
   {{#each data.QuestionsAttempted as |item i|}}
    <li><a href="#">{{i}}</a></li>
    {{/each}}
  </ul>
</nav>
  </div>
</div>

</div>
<div class="col-sm-9">
<form action="/attempt/{{data._id}}/submit" method="post" id="Quiz" enctype='application/json'>

   
   
{{#each data.QuestionsAttempted as |item i|}}
<div class="container-fluid bg">
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h3 ><span style="padding:5px 10px 5px 10px;!important" class="label label-info" id="qid">{{i}}</span>     {{item.question.Title}}</h3>
        </div>
        <div class="modal-body">           
        <div class="funkyradio">
            <input  name="QuestionsAttempted[{{i}}][question]" value="{{item.question._id}}" hidden="true"/>
        <!---Options-->
        {{#each item.question.Options as |option|}}
        <div class="funkyradio-default">
            <input type="radio" name="QuestionsAttempted[{{i}}][AnswerPickedIndex]" value="{{Index}}" id="{{option._id}}" />
            <label for="{{option._id}}">{{Title}}</label>
        </div>
        {{/each}}      
        <!---Options END--> 
    </div>
   </div>
   <div class="modal-footer text-muted">
    <span id="answer"></span>
</div>
</div>
</div>
</div>
<hr>
{{/each}}
<div class="col-md-3 col-sm-offset-9">
<button style="margin: 20px;" class="btn btn-large btn-danger">Submit</button>
</div>

</form>
</div>
</div>


{{!-- TIMER --}}

<script>
// Set the date we're counting down to
var stoptime = document.getElementById("stopTime").innerText
var countDownDate = new Date(stoptime).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = stoptime - now;
    
  // Time calculations for days, hours, minutes and seconds
  //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  //var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
    document.getElementById("Quiz").submit();
  }
  if(distance < 60){
    document.getElementById("timer").style.color = "red"
  }

}, 1000);
</script>


        {{!-- <div class="funkyradio-default">
            <input type="radio" name="AnswerPickedIndex[{{@index}}]" value="index" id="optionId2" checked/>
            <label for="optionId2">Second Option primary</label>
        </div>
        <div class="funkyradio-default">
            <input type="radio" name="AnswerPickedIndex[]" value="index" id="optionId3" />
            <label for="optionId3">Third Option success</label>
        </div>
        <div class="funkyradio-default">
            <input type="radio" name="AnswerPickedIndex[]" value="index" id="optionId4" />
            <label for="optionId4">Fourth Option danger</label>
        </div>
        <div class="funkyradio-default">
            <input type="radio" name="AnswerPickedIndex[]" value="index" id="optionId5" />
            <label for="optionId5">Fifth Option danger</label>
        </div> --}}