<script>     
    function DeleteQuestion(questionId){  
        DeleteItemWithSweetAlert(`/question${questionId}delete`,"Question",questionId)                      
    }
    function DeleteTest(testId){
        DeleteItemWithSweetAlert(`/test${testId}delete`,"Test",testId)
    }
                       
</script> 
                        
<h2>{{data.Course.Title}}</h2>
 <hr/>
                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Total Test Attempts</div>
                                                <div class="widget-subheading">Since Created</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-success">180</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Total Questions</div>
                                                <div class="widget-subheading"></div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-warning">{{getCount data.Course.Questions}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Average Score </div>
                                                <div class="widget-subheading">In all Tests</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-success">80,9%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


  <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">Questions
                                        <div class="btn-actions-pane-right">
                                          <a href="{{data.Course._id}}/question">  <button type="button" id="PopoverCustomT-1" class="btn btn-success btn-sm">Add Question</button>  </a>                                                                                    
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Title</th>
                                                <th class="text-center">Option</th>
                                                <th class="text-center">Option</th>
                                                <th class="text-center">Option</th>
                                                <th class="text-center">Option</th>
                                                <th class="text-center">Actions</th>

                                            </tr>
                                            </thead>




                                            <tbody>
                                            {{#each data.Questions as |item i|}}
                                            <tr id="/{{item._id}}/">
                                                <td class="text-center text-muted">#{{index i }}</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <p>
                                                                 {{item.Title}}   
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                
                                                {{#each item.Options as |option|}}

                                                 {{#if option.IsCorrect}}
                                                
                                                <td class="text-center">
                                                    <div class="widget-content-left flex2">
                                                                <div class="widget-heading">{{option.Title}}</div>
                                                                <div class="widget-subheading opacity-7">(Correct)</div>
                                                    </div>
                                                </td>
                                                {{else}}
                                                 <td class="text-center">{{option.Title}} </td>
                                               {{/if}}
                                                {{/each}}
                                                <td class="text-center">
                                                 <button onclick="DeleteQuestion(/{{item._id}}/)" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> Delete </i></button>
                                                </td>
                                            </tr>
                                        {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-block text-center card-footer">
                                    {{#if data.QuestionPagination.PrevPage}}
                                        <a href="?Qpage={{data.QuestionPagination.PrevPage}}"><button class="btn-wide btn btn-info">Prev</button></a>                                      
                                    {{/if}}
                                    {{#if data.QuestionPagination.NextPage}}
                                        <a href="?Qpage={{data.QuestionPagination.NextPage}}"><button class="btn-wide btn btn-info">Next</button></a>
                                    {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>



                         <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">Tests
                                           <td class="text-right">
                                                     </td>
                                        <div class="btn-actions-pane-right">                                         
                                             <a href="{{data.Course._id}}/test"><button type="button" id="PopoverCustomT-1" class="btn btn-success btn-sm">Add Test</button> </a>                                           
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>

                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Name</th>
                                                <th class="text-center">Duration (In Minutes)</th>
                                                <th class="text-center">Questions</th>
                                                <th class="text-center">Attempts</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                            </thead>



                                            <tbody>
                                        {{#each data.Tests as |item i|}}
                                            <tr id="/{{item._id}}/">
                                                <td class="text-center text-muted">#{{index i }}</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">{{item.Title}}</div>                                       
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                
                                                <td class="text-center">{{item.DurationInMinutes}}</td>
                                                <td class="text-center">{{item.NumberOfQuestions}}</td>
                                                <td class="text-center">30</td>
                                                <td class="text-center">
                                                    {{#if item.IsClosed}}
                                                    <div class="badge badge-warning">Closed</div>
                                                    {{else}}
                                                    <div class="badge badge-success">Open</div>
                                                    {{/if}}
                                                </td>
                                                <td class="text-center">
                                                   <a href="/test/{{item._id}}"> <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button></a>
                                                    <button onclick="DeleteTest(/{{item._id}}/)" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                                                </td>
                                            </tr>

                                            

                                        {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-block text-center card-footer">
                                    {{#if data.TestPagination.PrevPage}}
                                        <a href="?Tpage={{data.TestPagination.PrevPage}}"><button class="btn-wide btn btn-info">Prev</button></a>                                      
                                    {{/if}}
                                    {{#if data.TestPagination.NextPage}}
                                        <a href="?Tpage={{data.TestPagination.NextPage}}"><button class="btn-wide btn btn-info">Next</button></a>
                                    {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    

                       